
body
{
    background-color: black;
}

.container
{
    display: grid;
    gap: 10px;
    height: 825px;
    width: auto;
    background-color:black;
    padding: 5px;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(5,200px);
}

.grid-item
{
    background-color: aqua;
    height: auto;
    width: auto;
}
.box1
{
    grid-column-start: 1;
    grid-column-end: 10; 
}
.box1 img
{
    height: 200px;
    width: 100%;
}
.box2
{
  
    grid-column-start: 10;
    grid-column-end: 16;
   
}
.box2 img
{
    height: 200px;
    width: 100%;
}
.box3
{
   background-color: black;
   grid-column-start: 18;
   grid-column-end: 20;
   grid-row-start: 1;
   grid-row-end: 5;
   list-style-type: none;
   color: white;
}
.box3 h1:hover
{
    cursor: pointer;
    color: rgb(135, 223, 225);
}
.box3 li:hover
{
    cursor: pointer;
    color: rgb(237, 199, 127);
}
.box4
{
    grid-column-start: 1;
    grid-column-end:4;
}
.box4 img
{
    height: 200px;
    width: 100%;
}
.box5
{
    grid-column-start: 4;
    grid-column-end: 13;
}
.box5 img
{
    height: 200px;
    width: 100%;
}
.box6
{
    grid-column-start: 13;
    grid-column-end: 16;
}
.box6 img
{
    height: 200px;
    width: 100%;
}
.box7
{
    grid-column-start: 1;
    grid-column-end: 8;
}
.box7 img
{
    height: 200px;
    width: 100%;
}
.box8
{
    grid-column-start: 8;
    grid-column-end: 16;
}
.box8 img
{
    height: 200px;
    width: 100%;
}
.box9
{
    grid-column-start: 1;
    grid-column-end: 6;
}
.box9 img
{
    height: 200px;
    width: 100%;
}
.box10
{

    grid-column-start: 6;
    grid-column-end: 11;
}
.box10 img
{
    height: 200px;
    width: 100%;
}
.box11
{
    grid-column-start: 11;
    grid-column-end: 16;
}
.box11 img
{
    height: 200px;
    width: 100%;
}
.box3 h1
{
    font-size: 45px;
}
.box3 li
{
    text-align: right;
    margin-left: 60%;
    margin-top: 10px;
}
.box3 i
{
    color: rgb(32, 73, 144);
    padding: 12px;
    margin-left: 3px;
    font-size:21px;
}
.box3 i:hover
{
    color: rgb(114, 226, 222);
    cursor: pointer;
}
@media (max-width:700px)
{
.box3
{
   position: relative;
   background-color: black;
   grid-column-start: 1;
   grid-column-end: 20;
   grid-row-start: 1;
   grid-row-end: 1;
   list-style-type: none;
   color: white;
   margin-bottom: 20%;
}
.box3 li
{
    position: relative;
    display: inline-block;
    margin: 5%;
    top: -25px;
}
.box3 li:hover
{
    cursor: pointer;
    color: rgb(237, 199, 127);
}
.box3 h1
{
    margin-bottom:10%;
    text-align: center;
}
.box3 h1:hover
{
    cursor: pointer;
    color: rgb(135, 223, 225);
}
.box3 i 
{
    position: relative;
    color: aliceblue;
    left: 25%;
    padding:5%
}
.fa
{
    position: relative;
    top: -45px;
}
.container
{
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    background-color:black;
    padding: 4px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(11,200px);
}
.box1
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box1 img
{
    height: 200px;
    width: 100%;
}
.box2
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box4
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box5
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box6
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box7
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box8
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box9
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box10
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box11
{
    grid-column-start: 1;
    grid-column-end: 20;
}
.box11 img
{
    height: 200px;
    width: 100%;
}
}
